<!--<main class="main-login">
    <section class="form-container">

      <div class="container-signup">
        <h2>Edit Contact</h2>
        <form [formGroup]="formularioEditContact" (ngSubmit)="enviarEditContact()">
  
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Type the contact name" formControlName="name" />
            <div class="text-danger" *ngIf="hasErrors('name', 'required')">El nombre es requerido</div>
          </div>
  
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Ingrese su correo electrónico"
              [ngClass]="{'is-invalid': hasErrors('email', 'required') || hasErrors('email', 'email')}"
              class="form-control" formControlName="email" />
            <div class="text-danger" *ngIf="hasErrors('email', 'email')">Email invalid format </div>
            <div class="text-danger" *ngIf="hasErrors('email', 'required')">Email is required</div>
          </div>

           <label for="phone">Phone:</label>
           <input type="number" id="phone" placeholder="Type a phone number" formControlName="phone" />
           <div class="text-danger" *ngIf="hasErrors('phone', 'required')">Phone is required</div>

          <div class="form-group">
            <label for="address">Adress:</label>
            <input type="text" id="address" placeholder="Type the address" formControlName="address" />
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" placeholder="Type a contact description" formControlName="description" />
          </div>

           <div class="container-buttons-edit-contact">
            <button type="submit" [disabled]="formularioEditContact.invalid">Edit</button>
            <button type="submit">Cancel</button>
           </div>
        </form>

      </div>
    </section>
  </main>-->


